body{margin: 0px;width: 100%;}
.container{
    width: 100%;
}
.canvasContainer{
    position: relative;
    width: 1500px;
    height: 600px;
    margin: 0 auto;
}
canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 600px;
}
#canvasJeu{
    z-index: 10;
}

